<div class="grid">
    <div *ngFor="let item of clientes" class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <p-button label="reservar" [link]="true" (click)="onCreateOrUpdate(item,false)" />
                    <div class="text-900 font-medium text-xl">{{item.clientname}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-building text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Oferta</span>
            <div class="text-500" [innerHTML]="item.description"></div>
        </div>
    </div>
</div>

<p-dialog [header]="header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <app-booking-form #form />
</p-dialog>