<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="field" [style]="{display:'none'}">
        <label htmlFor="bookingId">Id</label>
        <input id="bookingId" type="text" pInputText formControlName="Id" />
    </div>
    <div class="field" [style]="{display:'none'}">
        <label htmlFor="bookingIdClient">Id Cliente</label>
        <input id="bookingIdClient" type="text" pInputText formControlName="Idclient" />
    </div>
    <div class="field">
        <label htmlFor="bookingDocumentNumber">Numero documento</label>
        <input id="bookingDocumentNumber" type="text" pInputText formControlName="Documentnumber" />
    </div>
    <div class="field">
        <label htmlFor="bookingName">Nombre</label>
        <input id="bookingName" type="text" pInputText formControlName="Name" />
    </div>
    <div class="field">
        <label htmlFor="bookingAmount">Cantidad de personas</label>
        <input id="bookingAmount" type="text" pInputText formControlName="Amount" />
    </div>
    <div class="field">
        <label htmlFor="bookingDate">Fecha de reserva</label>
        <p-calendar id="bookingDate" [minDate]="mindatebooking"
                                        appendTo="body" dateFormat="dd/mm/yy"
                                        [showIcon]="true"
                                        formControlName="Bookingdate"></p-calendar>
        <!-- <input id="bookingDate" type="text" pInputText formControlName="Bookingdate" /> -->
    </div>
    <div>
        <button pButton pRipple [label]="modalLabelButton" icon="pi pi-check" class="p-button-success my-2"
            type="submit"></button>
    </div>
</form>