<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-3">
                    <b>Servicio</b><br>
                    <p-dropdown [options]="listServices"
                        [(ngModel)]="selectedService"
                        optionLabel="servicename" 
                        class="multiselect-custom"
                        [style]="{width:'100%'}"
                    >
                    </p-dropdown>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <b>Cliente</b><br>
                    <p-dropdown [options]="listClients"
                        [(ngModel)]="selectedClient"
                        optionLabel="clientname" 
                        class="multiselect-custom"
                        [style]="{width:'100%'}"
                    >
                    </p-dropdown>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <b>Fecha inicio - Fecha fin</b><br>
                    <p-calendar [(ngModel)]="rangeDates"
                        selectionMode="range"
                        [readonlyInput]="true"
                        inputId="range"
                        dateFormat="dd/mm/yy"
                        [showIcon]="true"
                        appendTo="body"
                        [style]="{width:'100%'}"
                    ></p-calendar>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <br>
                    <button pButton type="button" label="Buscar" icon="pi pi-search" (click)="submit()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div *ngFor="let item of listBookings" class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <p-button label="modificar" [link]="true" (click)="onCreateOrUpdate(item,true)" />
                    <div class="text-900 font-medium text-xl">{{item.idbooking}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-building text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{item.bookingdate}}</span>
            <div class="text-500">A nombre de:{{item.documentnumber}}-{{item.name}}
                Cantidad:{{item.amount}}
            </div>
        </div>
    </div>
</div>

<p-dialog [header]="header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">    
    <app-mybookingform #form />
</p-dialog>